.add-game-screen-container{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    .add-game-form{
        gap: 5px;
        .form-inner-container{
            flex-direction: row;
            display: flex;
        }
    }
 .button-container{

    padding-top: 2%;
 }
}